[Desktop Entry]
Version=1.0
Type=Application
Name=SgribthMaker Text Editor
Name[de]=SgribthMaker Text-Editor
Comment=Edits Kaba Scripts
Comment[de]=Editor für Kaba Scripte
Categories=Utility;TextEditor;
Exec=sgribthmaker %F
Icon=${INSTALL_PREFIX}/share/sgribthmaker/icon.png
MimeType=text/plain;text/michisoft-kaba
